.App{
  width:100vw;
  height:100vh;
  background-color:antiquewhite;
  display:flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  height:450px;
  width:300px;
  background-color: rgb(22, 21, 21);
  border-radius:10px;

  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:90px  repeat(5,1fr);
  grid-gap:3px;
}


.calculator__screen{
  color:white;
  grid-area:1/1/2/5;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding:0 10px;
  box-sizing: border-box;
}

.calculation{
  width:100%;
  border:none;
  outline:none;
  text-align:right;
  background-color:rgb(22, 21, 21);
  color:white;
}

.calculation::placeholder{
  color:white;
}

.calculator__btn{
  background-color: rgb(231, 210, 20);
  border:none;
  cursor:pointer;
}

.calculator__btn:active{
  background-color: gray ;
}

.calculator__btn--spec{
  background-color: rgb(170, 226, 114);
}

.calculator_clear-btn{
  background-color: rgb(180, 110, 110);
  grid-area:6/1/7/5;
  border:none;
  cursor:pointer;
}
.calculator_clear-btn:active{
  background-color: rgb(226, 141, 141);
}